.navbar {
    background: transparent !important;
    /* height: 80px; */
}

@media (max-width: 768px) {
    .navbar {
        background: #072AC8 !important; /* Solid white background */
        backdrop-filter: none; /* Remove blur effect */
    }
}

.nav-link {
    color: white !important;
    font-size: large;
}

.navbar-brand {
    width: 100px;
    height: auto;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.jumbotron {
background-image: url("./images/hero-background1.jpg");
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
    height: calc(90vh + 80px);
    align-content: center;
    /* justify-content: center; */
    justify-items: center;
    margin-top: -80px;
}

.hero-brand-welcome {
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(10px);
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    /* color: #072AC8; */
    color: #FFC107;
}

.hero-brand-name {
    font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.lead.display-1 {
    /* border: 2px solid aqua; Adjust the border size and color as needed */
    padding: 10px; /* Optional: Add padding for better appearance */
    border-radius: 25px; /* Optional: Add border-radius for rounded corners */
    
}


#country::after {
    content: "USA";
    font-weight: bold;
    /* font-style: italic; */
    animation-name: rotate-country-name;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    background: rgba(0, 0, 0, 0.4); /* Translucent background */
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 0px 15px;
    padding-bottom: 10px;
}

@keyframes rotate-country-name {
    20% { content: "India"; }
    40% { content: "France"; }
    60% { content: "Germany"; }
    80% { content: "Italy"; }
    100% { content: "Russia"; }
}

.book-now {
    margin-top: 15px;
    color: #072AC8;
}

.book-now:hover {
    background-color: #e6ac00;
}